<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo130.mapper.BookMapper">

  <!-- selectBookList --> 

  <select id="selectBookList" resultType="BookDto">
    select * from tb_book order by book_no desc
  </select>

  <!-- selectBook --> 

  <select id="selectBook" resultType="BookDto">
    select * from tb_book where book_no=#{book_no}
  </select>    

  <!-- selectBookListPageing --> 

  <select id="selectBookListPageing" resultType="BookDto">
  select *
    from (
      select rownum rn, t.*
      from (
        select *
        from tb_book
        order by regdate desc
      ) t
    )
    where rn between #{pageNo} * #{amount} - ( #{amount} - 1 )
    and #{pageNo} * #{amount}
  </select>

  <!-- selectTotalCnt --> 

  <select id="selectTotalCnt">
    select count(*) from tb_book
  </select>
</mapper>